APP_GLOBAL_PREFIX=
POSTGRES_DB=shortdb
POSTGRES_USER=postgres
POSTGRES_PASSWORD=yoursupersecret
REDIS_URI=redis://localhost:6381
REDIS_NAME=db
GRAPHQL_URI=http://localhost:15003/v1/graphql
HASURA_ADMIN_SECRET=4GeEB2JCU5rBdLvQ4AbeqqrPGu7kk9SZDhJUZm7A
BASE_URL=http://localhost:3333/api/
RABBITMQ_PASSWORD=password
RABBITMQ_USERNAME=username
RABBITMQ_HEALTH_URL=http://localhost:15672/
RMQ_URL=amqp://username:password@localhost:5672
RMQ_QUEUE=clicks
RMQ_QUEUE_DURABLE=false
POSTHOG_API_KEY=test
POSTHOG_API_HOST=https://app.posthog.com/
POSTHOG_DISTINCT_KEY=YAUS Events
POSTHOG_BATCH_SIZE=20
POSTHOG_FLUSH_INTERVAL=10000
CLICK_BACKUP_CRON=*/30 * * * * *

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:yoursupersecret@localhost:5432/shortdb?schema=public"
